<ul class="nav justify-content-center nav-tabs nav-light bg-light">
	<li class="nav-item">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/products">Productos</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/products">Consulta</a>
				<a class="dropdown-item" href="/products/create">Nuevo</a>
			</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/shopping">Compras</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/users">Usuarios</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/users">Consulta</a>
				<a class="dropdown-item" href="/users/create">Nuevo</a>
			</div>
	</li>
</ul>