<% include ./layouts/cabecera.ejs %>
	</head>
	<body>
		<div class="container">
			<div class="card">
				<div class="card-header">
					<br><h1><%= title %> - <%= title2 %>
						<!-- Aplicación CRUD en Node JS -->
					</h1><br><br>
				</div>
				<div class="card-body">
					<div class="row align-items-center justify-content-center">

						<div class="col-4 col-md-4 col-lg-4 col-sm-4 col-xs-4">
							<h3><strong>Iniciar sesión</strong></h3>
							<!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
							<form action="/ingresar" method="post">
								<div class="form-group first">
									<label for="username">Correo</label>
									<input type="text" class="form-control" placeholder="your-email@gmail.com" id="email" name="email">
								</div>
								<div class="form-group last mb-3">
									<label for="password">Contraseña</label>
									<input type="password" class="form-control" placeholder="Your Password" id="password" name="password">
								</div>
								<input type="submit" value="Log In" class="btn btn-block btn-primary">
							</form>
						</div>

					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<br><br>
					<p>Welcome to <%= title %></p>
				</div>
			</div>
		</div>

	<% include ./layouts/pie.ejs %>